<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2" verose="2">

	<test name="chromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="test.GridTest" />
		</classes>
	</test>

	<test name="firefoxTest">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="test.GridTest" />
		</classes>
	</test>

</suite>
